<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="results-app">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <h3>{{header}}</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Mes</th>
            <th scope="col">Promedio</th>
            <th scope="col">Tarjetas</th>
            <th scope="col">Comercios</th>
            <th scope="col">Transacciones</th>
            <th scope="col">Mínimo</th>
            <th scope="col">Días pico</th>
            <th scope="col">Horas pico</th>
            <th scope="col">Días valle</th>
            <th scope="col">Horas valle</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{results}}" index-as="month">
          <tr>
            <th scope="row">{{prettyMonth(item.date)}}</th>
            <td>{{item.avg}}</td>
            <td>{{item.cards}}</td>
            <td>{{item.merchants}}</td>
            <td>{{item.txs}}</td>
            <td>{{item.min}}</td>
            <td>{{prettyDay(item.peak_txs_day)}}</td>
            <td>{{item.peak_txs_hour}}</td>
            <td>{{prettyDay(item.valley_txs_day)}}</td>
            <td>{{item.valley_txs_hour}}</td>
          </tr>
          </template>
        </tbody>
      </table>
      <div class="row justify-content-center align-items-center text-center">
        <button type="button" class="btn btn-info" on-click="regresar">Regresar</button>
      </div>
    </div>

        </template>


    <script>
class ResultsApp extends Polymer.Element {
  static get is() {
    return 'results-app';
  }

  static get properties() {
    return {
          results:{
            type:Array,
            notify:true,
            value:function(){
              [];
            }
          },
          response:{
            type:Boolean,
            value:true,
            notify:true
          },
          header:{
            type:String,
            notify:true
          }
    };

  }

  prettyMonth(rawMonth){
    var number=rawMonth.substring(4)-1;
    var meses=["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio",
    "Agosto","Septiembre","Octubre","Noviembre","Diciembre"];
    for(var i=0;i<meses.length;i++){
      if(number==i){
        return meses[i];
      }
    }
  }

  prettyDay(rawDay){
    var dias=["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"];
    for(var i=1;i<=dias.length;i++){
      if(rawDay==i){
        return dias[i-1];
      }
    }
  }

  regresar(){
    this.response=false;
  }

}

customElements.define(ResultsApp.is, ResultsApp);</script>

  </dom-module>
