<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*

<dom-module id="welcome-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    /*  .text-large {
        font-size: 100%;
      }*/

    </style>
    <div class="container" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="row justify-content-center align-items-center text-center">
          <div class="header">
            <h1>Bienvenido</h1>
            <img src="src/welcome-app/bbva.png" class="img-fluid max-witdth" width="200px" height="200px" alt="Responsive image">
          </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="form-group">
          <label for="exampleInputEmail1" class="align-items-center">Correo electronico</label>
          <input type="email" value="{{email::input}}" class="form-control" id="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" value="{{password::input}}" class="form-control" id="password">
          <button class="btn btn-primary btn-lg" on-click="login">Entrar</button>
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
          <div class="header">
            <h4>¿Eres nuevo? Registrate!</h4>
          </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="form-group">
          <label for="exampleInputEmail2" class="align-items-center">Nuevo correo electronico</label>
          <input type="email" value="{{nuevoEmail::input}}" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="correo@dominio.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <label for="exampleInputPassword2">Nueva contraseña</label>
          <input type="password" value="{{nuevoPassword::input}}" class="form-control" id="exampleInputPassword2" placeholder="mínimo 8 caracteres">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" on-change="registrar" >
          <label class="form-check-label" for="exampleCheck1">Registrarme</label>
        </div>
        </div>
    </div>
    <iron-ajax
    id="doLogin"
    url="https://back-r3zz3nppta-uc.a.run.app/login"
    content-type="application/json"
    crossDomain:true
    dataType:'jsonp'
    method= "POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers:*"
    on-response="_getUserSuccess"
    on-error="_getUserError"
></iron-ajax>
<iron-ajax
id="doCreate"
url="https://back-r3zz3nppta-uc.a.run.app/create"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method= "POST"
handle-as="json"
headers="Access-Control-Allow-Headers:*"
on-response="_setUserSuccess"
on-error="_setUserError"
></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WelcomeApp extends Polymer.Element {
      static get is() { return 'welcome-app'; }
      static get properties() {
        return {
          email: {
            type: String,
            value:'',
            notify:true
          },
          password: {
            type: String,
            value:'',
            notify:true
          },
          logado: {
            type: Boolean,
            value: false,
            notify:true
          },
          nuevoEmail: {
            type: String,
            value:'',
            notify:true
          },
          nuevoPassword: {
            type: String,
            value:'',
            notify:true
          }
        };
      }


      login(){
        if(this.email.length==0){
          alert("Debes ingresar un email");
        }else if(this.password.length==0){
          alert("Debes ingresar tu contraseña");
        }else{
          var loginData={
            "email":this.email,
            "password":this.password
          };
          this.$.doLogin.body=JSON.stringify(loginData);
          console.log(this.$.doLogin.body);
          this.$.doLogin.generateRequest();
        }
      }

      _getUserError(e,error){
        console.log("Error"+error.request.status);
        alert("No se encontró el usuario");
        console.log(this.logado);
      }

      _getUserSuccess(e,request){
        console.log("Estatus"+request.status);
        this.email=request.response.$oid;
        console.log(this.logado);
        this.logado=true;
      }


      registrar(e){
        if(e.target.checked){
          if(this.nuevoEmail.length==0){
            alert("El campo nuevo mail está vacío");
          }else if(this.nuevoPassword.length==0){
            alert("Tu nueva contraseña no puede estar vacía");
          }else{
            if(this.nuevoPassword.length<8){
              alert("Tu contraseña debe tener al menos 8 caracteres")
            }else if(/^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i.test(this.nuevoEmail)==false){
              alert("El email que ingresaste es inválido");
            }else{
              var loginData={
                "email":this.nuevoEmail,
                "password":this.nuevoPassword
              };
              this.$.doCreate.body=JSON.stringify(loginData);
              console.log(this.$.doCreate.body);
              this.$.doCreate.generateRequest();
            }
          }
        }
      }

      _setUserError(e,error){
        //Hay que revisar cuales son las respuestas erraticas
        console.log("Error"+error.request.status);
        alert("El usuario ya existe!");
      }

      _setUserSuccess(e,request){
        this.nuevoEmail="";
        this.nuevoPassword="";
        alert("Alta de usuario exitosa");
      }

    }
/*



*/


    window.customElements.define(WelcomeApp.is, WelcomeApp);
  </script>
</dom-module>
