<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/src/welcome-app/welcome-app.html">
<link rel="import" href="/src/discipline-app/discipline-app.html">

<dom-module id="main-app">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>


      <template is="dom-if" if="{{!logado}}" restamp="true">
        <welcome-app logado="{{logado}}" email="{{email}}"></welcome-app>
      </template>
      <template is="dom-if" if="{{logado}}" restamp="true">
          <discipline-app email="{{email}}" results="{{results}}" logado="{{logado}}"></discipline-app>
      </template>
        </template>


    <script>
class MainApp extends Polymer.Element {
  static get is() {
    return 'main-app';
  }

  static get properties() {
    return {
      logado:{
        type:Boolean,
        value:false,
        observer:'cambioLogado'
      },
      results:{
        type:Array,
        observer:'cambioResults',
        value:function(){
          [];
        },
        email:{
          type:String
        }
      }
    };
  }

  cambioLogado(){
    console.log("El padre logado: "+this.logado);
  }


  cambioResults(){
    console.log("El padre response: "+this.results);
  }

}

customElements.define(MainApp.is, MainApp);
</script>

  </dom-module>
