<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<dom-module id="gestor-clientes" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
      .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
      }

      google-map {
    height: 300px;
  }

    }
      </style>

      <div class="container">
        <div class="alert alert-info text-center" role="alert">
          <h1>Encuentra tu negocio ideal</h1>
        </div>
        <div class="menu">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <input id="entrada" class="form-control" type="text" placeholder="¿Qué estás buscando?">
            </li>
            <li>
              <div class="col-sm-5">
      <!--label class="sr-only" for="inlineFormInputName">Name</label-->
      <input id="zip" type="text" class="form-control"  placeholder="Zip">
    </div>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle1">Categorías</button>
                <iron-collapse opened=[[desplegado1]]>
                  <div class="btn-group-vertical">
                    <template is="dom-repeat" id="categories" items="{{categories}}" as="category">
                      <input class="form-control" type="text" placeholder="{{category.description}}" readonly>
                      <template is="dom-repeat" id="subcategories" items="{{category.subcategories}}" as="subcategory" index-as="subcategory_desc">
                        <button id="{{subcategory.code}}" type="button" class="btn btn-info" on-click="toggleSelection">{{subcategory.description}}</button>
                      </template>
                    </template>
                  </div>
                </li>
                <li class="nav-item">
                  <button class="btn btn-primary btn-md dropdown-toggle" on-click="toggle2">Año</button>
                  <iron-collapse opened=[[desplegado2]]>
                    <div class="btn-group-vertical">
                      <!--input class="form-control" type="text" placeholder="Readonly input here..." readonly-->
                      <button type="button" class="btn btn-success">2015</button>
                    </div>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" on-click="buscar">Buscar</button>
                  </li>
                </ul>
              </div>
              <div>
                <p></p>
                <google-map latitude="[[coordenadas.lat]]" longitude="[[coordenadas.lng]]"  api-key="AIzaSyB09BWJYw2qvsSvlfdZXwJnOfI5B0P98LQ" slot="markers" click-events="true" on-google-map-marker-click="clickDestination">
                  <google-map-marker latitude="[[coordenadas.lat]]" longitude="[[coordenadas.lng]]" draggable="true"></google-map-marker>
                </google-map>
              </div>
            </div>
    </template>


    <script>
      class GestorClientes extends Polymer.Element {
        static get is() { return 'gestor-clientes'; }
        static get properties() {
          return {
            coordenadas: {
              notify:true,
              type: Object,
              value: function(){
                return {
                  lat: 40.425,
                  lng :-3.715
                        }
                      }
            },
            categories: {
              notify:true,
              type: Object,
              value: function() {
                 return [];
                }
            },
            parametros:{
              notify:true,
              type:Object,
              value: function(){
                return {
                  lat: 0,
                  lng :0,
                  zip: '',
                  anio:2015,
                  es_code:''
                }
              }
            },
            desplegado1: {
              type: Boolean,
              value: false
            },
            desplegado2: {
              type: Boolean,
              value: false
            }
          };
        }

        constructor(){
          super();
          var request = new XMLHttpRequest();
          request.open("GET", "http://localhost:3002/Categories", false);
          request.send();
          this.categories = JSON.parse(request.responseText);
          //console.log(this.categories);
        }

        toggle1(){
          this.desplegado1=!this.desplegado1;
        }

        toggle2(){
          this.desplegado2=!this.desplegado2;
        }

        toggleSelection(e){
            //Para manejar categoria por id;
            //console.log(e.target.id);
            //Para manejar categoria por descripcion
            //console.log(e.target.innerHTML);
            this.parametros.es_code=e.target.id;
        }

        buscar(){
          var estado=false;
          var entrada=this.$.entrada.value;
          if(entrada.length==0){
            console.log("Entrada vacia");
          }else{
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].description;
                    var regexp=new RegExp(entrada,'i');
                    if(str.search(regexp)!=-1){
                      console.log(str);
                      this.parametros.es_code=this.$.categories.items[i].subcategories[j].code;
                      estado=true;
                    }
                }
              }
            }
              this.parametros.zip=this.$.zip.value;
              this.parametros.lat=this.shadowRoot.querySelector('google-map-marker').latitude;
              this.parametros.lng=this.shadowRoot.querySelector('google-map-marker').longitude;
                console.log(this.parametros);
          }

          valorCambiado(coordenadas,nuevas,viejas){
            console.log(coordenadas);
            console.log(nuevas);
            console.log(viejas);

          }
          clickDestination(event){
            var latitude = event.target.latitude;
            var longitude = event.target.longitude;
            console.log(latitude);
            console.log(longitude);
          }

        ready(){
          super.ready();
          if (this.$)
          this.$ = new Proxy(this.$, {
        get: ($, id) => $[id] || this.shadowRoot.getElementById(id),
        set: ($, id, element) => {
            $[id] = element;
            return true;
        }
    });
        }
      }

      customElements.define(GestorClientes.is, GestorClientes);
    </script>

  </dom-module>
