<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="update-app">
  <template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row justify-content-center align-items-center text-center">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cambiar contraseña</h5>
    <label for="formGroupExampleInput">Nueva contraseña</label>
    <input type="password" class="form-control" id="formGroupExampleInput" value="{{passwordNuevo::input}}">
        <p></p>
      <button type="button" class="btn btn-success" on-click="cambiar">Confirmar</button>
      <button type="button" class="btn btn-warning" on-click="regresar">Regresar</button>
  </div>
</div>
</div>

    <iron-ajax id="ajaxUpdate"
    url="http://localhost:3002/update"
    content-type="application/json"
    crossDomain=true
    dataType='jsonp'
    method= "POST"
    handle-as="json"
    on-response="_getUpdateSuccess"
    on-error="_getUpdateError">
    </iron-ajax>
</template>
    <script>
class UpdateApp extends Polymer.Element {
  static get is() {
    return 'update-app';
  }

  static get properties() {
    return {
      email:{
        type:String,
        notify:true
      },
      passwordNuevo:{
        type:String,
        notify:true
      },
      change:{
        type:Boolean,
        notify:true
      }
    };
  }

  cambiar(){
    if(this.passwordNuevo.length>=8){
      var params={"email":this.email,"password":this.passwordNuevo};
      this.$.ajaxUpdate.body = JSON.stringify(params);
      console.log(params);
      this.$.ajaxUpdate.generateRequest();
    }else{
      alert("Tu contraseña debe tener al menos 8 caracteres");
    }
  }

  regresar(){
    this.change=false;
  }

  _getUpdateError(e,error){
    console.log(error.request.status);
    alert("No se pudo procesar tu petición");
  }

  _getUpdateSuccess(e,request){
      console.log(request.response.data);
      alert("Contraseña cambiada!");
      this.email="";
      this.change=false;
    }
}

customElements.define(UpdateApp.is, UpdateApp);
</script>

  </dom-module>
