<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1>Ingreso a la app</h1>
        <br>
        Email: <input type="email" value="{{email::input}}"/>
        <br />
        Password: <input type="password" value="{{password::input}}"/>
        <br />
        <button on-click="login" class="btn btn-success">Login</button>
      </div>
      <div class="row" hidden$="{{!logado}}">
        <span>Bienvenido a la app</span>
      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method= "POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers:*"
      on-response="manageAJAXResponse"
      on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String,
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData={
          "email":this.email,
          "password":this.password
        };
        console.log(loginData);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio rest");
      //  console.log(data.detail.response);
        this.logado=true;

      }
      showError(){
        console.log("Hubo un error en iron-ajax");
        alert("Datos ingresados incorrectos, valide!");
        console.log(error);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
