<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/update-app/update-app.html">
<link rel="import" href="/src/results-app/results-app.html">

Access-Control-Allow-Origin:*

<dom-module id="motor-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
      .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
      }

      google-map {
    height: 300px;
  }

    }
      </style>

  <div class="container">
    <template is="dom-if" if="{{change}}" restamp="true">
      <update-app change="{{change}}" email="{{email}}"></update-app>
    </template>
    <template is="dom-if" if="{{response}}" restamp="true">
          <results-app results="{{results}}" response={{response}} header={{foundedCategory}}></results-app>
    </template>
    <template is="dom-if" if="{{!hidden}}" restamp="true">
      <div class="alert alert-info text-center" role="alert">
        <h1>Encuentra todas las estadísticas de tu negocio</h1>
        <h2>En el área metropolitana de Madrid</h2>
      </div>
      <div class="menu">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <input id="entrada" class="form-control" type="text" placeholder="¿Qué estás buscando?">
          </li>
          <li>
            <div class="nav-item">
              <input id="zip" type="text" class="form-control"  placeholder="Zip">
            </div>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle1">Categorías</button>
              <iron-collapse opened=[[desplegado1]]>
                <div class="btn-group-vertical">
                  <template is="dom-repeat" id="categories" items="{{categories}}" as="category">
                    <input class="form-control" type="text" placeholder="{{category.description}}" readonly>
                    <template is="dom-repeat" id="subcategories" items="{{category.subcategories}}" as="subcategory" index-as="subcategory_desc">
                      <button id="{{subcategory.code}}" type="button" class="btn btn-info" on-click="toggleSelection">{{subcategory.description}}</button>
                    </template>
                  </template>
                </div>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary btn-md dropdown-toggle" on-click="toggle2">Año</button>
                <iron-collapse opened=[[desplegado2]]>
                  <div class="btn-group-vertical">
                    <button type="button" class="btn btn-success">2015</button>
                  </div>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" on-click="buscar">Buscar</button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-primary btn-md dropdown-toggle" on-click="toggle3">Mi cuenta</button>
                  <iron-collapse opened=[[desplegado3]]>
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-danger" on-click="salir">Salir</button>
                      <button type="button" class="btn btn-success" on-click="cambiarPassword">Cambiar contraseña</button>
                    </div>
                </li>
              </ul>
            </div>
            <div>
              <p></p>
              <google-map latitude="[[coordenadas.lat]]" longitude="[[coordenadas.lng]]"  api-key="AIzaSyB09BWJYw2qvsSvlfdZXwJnOfI5B0P98LQ" slot="markers" click-events="true" on-google-map-marker-click="clickDestination">
                <google-map-marker latitude="[[coordenadas.lat]]" longitude="[[coordenadas.lng]]" draggable="true"></google-map-marker>
              </google-map>
            </div>
          </div>
    </template>

              <iron-ajax id="ajaxCategories"
              auto url="http://localhost:3002/Categories"
              content-type="application/json"
              crossDomain:true
              dataType:'jsonp'
              method= "GET"
              handle-as="json"
              on-response="_getCategoriesSuccess"
              on-error="_getCategoriesError">
            </iron-ajax>

            <iron-ajax id="ajaxToken"
            url="http://localhost:3002/token"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method= "GET"
            handle-as="json"
            on-response="_getTokenSuccess"
            on-error="_getTokenError">
          </iron-ajax>

          <iron-ajax id="ajaxResults"
          url="http://localhost:3002/results"
          content-type="application/json"
          crossDomain=true
          dataType='jsonp'
          method= "POST"
          handle-as="json"
          on-response="_getResultsSuccess"
          on-error="_getResultsError">
        </iron-ajax>
    </template>


    <script>
      class MotorApp extends Polymer.Element {
        static get is() { return 'motor-app'; }
        static get properties() {
          return {
            response:{
              type:Boolean,
              value:false,
              notify:true
            },
            results:{
              type:Array,
              notify:true,
              value:function(){
                [];
              }
            },
            logado:{
              type:Boolean,
              notify:true
            },
            change:{
              type:Boolean,
              value:false,
              notify:true
            },
            hidden:{
              type:Boolean,
              notify:true,
              computed:'setHidden(change,response)'
            },
            email:{
              type:String,
              notify:true,
            },
            coordenadas: {
              notify:true,
              type: Object,
              value: function(){
                return {
                  lat: 40.425,
                  lng :-3.715
                        }
                      }
            },
            categories: {
              type: Array,
              value: function() {
                 return [];
                }
            },
            parametros:{
              notify:true,
              type:Object,
              value: function(){
                return {
                  lat: 0,
                  lng :0,
                  zip: '',
                  anio:2015,
                  es_code:'',
                  option:1,
                  jwt:''
                }
              }
            },
            desplegado1: {
              type: Boolean,
              value: false
            },
            desplegado2: {
              type: Boolean,
              value: false
            },
            desplegado3: {
              type: Boolean,
              value: false
            }
          };
        }


        ready(){
          super.ready();
          if (this.$)
          this.$ = new Proxy(this.$, {
        get: ($, id) => $[id] || this.shadowRoot.getElementById(id),
        set: ($, id, element) => {
            $[id] = element;
            return true;
          }
        });
        }


        setHidden(response,change){
          if(!response&&!change){
            return false;
          }else{
            return true;
          }
        }

        _getCategoriesError(e,error){
          console.log("Error"+error.request.status);
        }

        _getCategoriesSuccess(e,request){
          //console.log("Request "+request.response);
          this.categories = request.response;
        }

        _getTokenError(e,error){
          console.log("Error"+error.request.status);
        }

        _getTokenSuccess(e,request){
          this.parametros.jwt=request.response.access_token;
          this.$.ajaxResults.body = JSON.stringify(this.parametros);
          console.log(this.parametros);
          this.$.ajaxResults.generateRequest();
        }

        _getResultsError(e,error){
          console.log("Error al traer resultados"+error.request.status);
          alert("Oops, parece que no encontramos nada para ti!");
        }

        _getResultsSuccess(e,request){
            this.response=true;
            console.log("El hijo: "+this.response);
            this.results=request.response.data;
            console.log(request.response.data);
            this.parametros.lat=0;
            this.parametros.lng=0;
            this.parametros.zip=0;
            this.parametros.es_code='',
            this.parametros.option=1;

        }

        buscar(){
          var estado=false;
          var entrada=this.$.entrada.value;
          if(entrada.length==0){
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].code;
                    if(str===this.parametros.es_code){
                      //console.log(str);
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                    }
                }
              }
          }else{
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].description;
                    var regexp=new RegExp(entrada,'i');
                    if(str.search(regexp)!=-1){
                      console.log(str);
                      this.parametros.es_code=this.$.categories.items[i].subcategories[j].code;
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                      estado=true;
                    }
                }
              }
            }
              this.parametros.zip=this.$.zip.value;
              this.parametros.lat=this.shadowRoot.querySelector('google-map-marker').latitude;
              this.parametros.lng=this.shadowRoot.querySelector('google-map-marker').longitude;
              if(this.parametros.zip.length==0){
                this.parametros.option=1;
              }else{
                this.parametros.option=2;
              }
              if(estado==true||this.parametros.es_code.length>0){
                this.$.ajaxToken.generateRequest();
                estado=false;
              }else{
                alert("Oops, no encontramos nada para ti");
              }

          }

          clickDestination(event){
            var latitude = event.target.latitude;
            var longitude = event.target.longitude;
            console.log(latitude);
            console.log(longitude);
          }

          salir(){
            this.logado=false;
            this.email="";
            this.desplegado3=!this.desplegado3;
          }

          cambiarPassword(){
            this.change=true;
            this.desplegado3=!this.desplegado3;
          }

          toggle1(){
            this.desplegado1=!this.desplegado1;
          }

          toggle2(){
            this.desplegado2=!this.desplegado2;
          }

          toggle3(){
            this.desplegado3=!this.desplegado3;
          }

          toggleSelection(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              //console.log(e.target.innerHTML);
              this.parametros.es_code=e.target.id;
              this.desplegado1=!this.desplegado1;
          }

      }

      customElements.define(MotorApp.is, MotorApp);
    </script>

  </dom-module>
