<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="/src/update-app/update-app.html">
<link rel="import" href="/src/results-app/results-app.html">

Access-Control-Allow-Origin:*

<dom-module id="graphics-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
      #mouseover-demo {
        position: relative;
        height: 300px;
    }

    #mouseover-chart {
        float: left;
    }

    #mouseover-display {
        display: inline-block;
        position: relative;
        top: 50%;
    }

    }
      </style>

  <div class="container">
    <!--template is="dom-if" if="{{change}}" restamp="true">
      <update-app change="{{change}}" email="{{email}}"></update-app>
    </template>
    <template is="dom-if" if="{{response}}" restamp="true">
          <results-app results="{{results}}" response={{response}} header={{foundedCategory}}></results-app>
    </template-->
      <div class="alert alert-info text-center" role="alert">
          <h1>Estadísticas</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div>
            <button class="btn btn-success btn-md  dropdown-toggle" on-click="toggle0">Elige un modo de visualizar</button>
              <iron-collapse opened=[[desplegado0]]>
                <div class="btn-group-vertical">
                    <template is="dom-repeat" id="especialidades" items="{{modes}}">
                      <button id="{{mode}}" type="button" class="btn btn-info" on-click="toggleSelection0">{{item}}</button>
                    </template>
                </div>
          </div>
          <p>

          </p>
          <h5>Filtrar proyectos</h5>
            <div>
              <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle1">Seleccionar especialidad</button>
                <iron-collapse opened=[[desplegado1]]>
                  <div class="btn-group-vertical">
                      <template is="dom-repeat" id="especialidades" items="{{especialidades}}">
                        <button id="{{especialidad}}" type="button" class="btn btn-info" on-click="toggleSelection">{{item}}</button>
                      </template>
                  </div>
            </div>
            <p></p>
            <div>
              <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle2">Seleccionar Q</button>
                <iron-collapse opened=[[desplegado2]]>
                  <div class="btn-group-vertical">
                      <template is="dom-repeat" id="cuartos" items="{{cuartos}}">
                        <button id="{{cuartos}}" type="button" class="btn btn-info" on-click="toggleSelection2">{{item}}</button>
                      </template>
                  </div>
            </div>
            <p></p>
            <div>
              <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle3">Estatus</button>
                <iron-collapse opened=[[desplegado3]]>
                  <div class="btn-group-vertical">
                      <template is="dom-repeat" id="estatus" items="{{estatus}}">
                        <button id="{{estatus}}" type="button" class="btn btn-info" on-click="toggleSelection3">{{item}}</button>
                      </template>
                  </div>
            </div>
          </div>
        <div class=" col-sm-6 align-items-center justify-content-center text-center">
          <google-chart id="mouseover-chart" type="[[mode]]" options='{{title}}' cols='[[cols]]' rows='{{rows}}' events='["onmouseover"]'>
          </google-chart>
        </div>
      </div>
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <button class="btn btn-success" on-click="regresar">Regresar</button>
      </nav>
  </div>


              <iron-ajax id="ajaxCategories"
              auto url="http://localhost:3002/Categories"
              content-type="application/json"
              crossDomain:true
              dataType:'jsonp'
              method= "GET"
              handle-as="json"
              on-response="_getCategoriesSuccess"
              on-error="_getCategoriesError">
            </iron-ajax>

            <iron-ajax id="ajaxToken"
            url="http://localhost:3002/token"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method= "GET"
            handle-as="json"
            on-response="_getTokenSuccess"
            on-error="_getTokenError">
          </iron-ajax>

          <iron-ajax id="ajaxResults"
          url="http://localhost:3002/results"
          content-type="application/json"
          crossDomain=true
          dataType='jsonp'
          method= "POST"
          handle-as="json"
          on-response="_getResultsSuccess"
          on-error="_getResultsError">
        </iron-ajax>
    </template>


    <script>
      class GraphicsApp extends Polymer.Element {
        static get is() { return 'graphics-app'; }
        static get properties() {
          return {
            response:{
              type:Boolean,
              value:false,
              notify:true
            },
            results:{
              type:Array,
              notify:true,
              value:function(){
                [];
              }
            },
            logado:{
              type:Boolean,
              notify:true
            },
            change:{
              type:Boolean,
              value:false,
              notify:true
            },
            hidden:{
              type:Boolean,
              notify:true,
              computed:'setHidden(change,response)'
            },
            email:{
              type:String,
              notify:true,
            },
            coordenadas: {
              notify:true,
              type: Object,
              value: function(){
                return {
                  lat: 40.425,
                  lng :-3.715
                        }
                      }
            },
            categories: {
              type: Array,
              value: function() {
                 return [];
                }
            },
            especialidades:{
              type: Array,
              value: function() {
                 return ["Todos","Accounts","Services","Payments","Loans"];
                }
            },
            cuartos:{
              type: Array,
              value: function() {
                 return ["Todos","Q1-2020","Q2-2020","Q3-2020","Q4-2020"];
                }
            },
            estatus:{
              type: Array,
              value: function() {
                 return ["Todos","Nuevo","Ongoing","Graduación"];
                }
            },
            modes:{
              type: Array,
              value: function() {
                 return ["area","md-bar","bubble","calendar","candlestick","column","combo","gauge","geo",
                 "histogram","md-line","org","pie","sankey","(md-)scatter","stepped-area","table","timeline",
                 "treemap","wordtree"];
                }
            },
            proyectos: {
              type: Array,
              value: function() {
                 return [{"nombre":"BTGE:Streaming","especialidad":"Accounts","cuarto":"Q1-2020","estatus":"N"},
                 {"nombre":"Arce DWP","especialidad":"Payments","cuarto":"Q2-2020","estatus":"O"},
                 {"nombre":"One View:Business Financial Managment","especialidad":"Services","cuarto":"Q2-2020","estatus":"N"},
                 {"nombre":"Seguro digital de vida","especialidad":"Loans","cuarto":"Q2-2020","estatus":"G"},
                 {"nombre":"Seguro digital para riesgos cibernéticos","especialidad":"Loans","cuarto":"Q3-2020","estatus":"G"},
                 {"nombre":"API:Consumer Finance","especialidad":"Accounts","cuarto":"Q4-2020","estatus":"G"},
                 {"nombre":"Onboarding:Zona de contratación","especialidad":"Services","cuarto":"Q4-2020","estatus":"O"},
                 {"nombre":"Multiestrategia libre Bancomer","especialidad":"Services","cuarto":"Q4-2020","estatus":"O"},
                 {"nombre":"Web Service","especialidad":"Payments","cuarto":"Q4-2020","estatus":"O"},
                 {"nombre":"CoDi Empresarial:Certificación","especialidad":"Services","cuarto":"Q1-2020","estatus":"N"},
                 {"nombre":"Inversiones Overnight","especialidad":"Services","cuarto":"Q2-2020","estatus":"G"},
                 {"nombre":"GEMA:Softtoken y login","especialidad":"Loans","cuarto":"Q3-2020","estatus":"G"},
                 {"nombre":"Gema:Pagos","especialidad":"Loans","cuarto":"Q2-2020","estatus":"N"},
                 {"nombre":"DIY Investments","especialidad":"Accounts","cuarto":"Q4-2020","estatus":"O"},
                 {"nombre":"ORANGE:Digital Experience","especialidad":"Accounts","cuarto":"Q4-2020","estatus":"O"}
                  ];}
            },
            rows:{
              type: Array,
              value: function() {
                 return [];
                }
            },
            title:{
              type:Object,
              value:function(){
                return {}
              }
            },
            parametros:{
              notify:true,
              type:Object,
              value: function(){
                return {
                  lat: 0,
                  lng :0,
                  zip: '',
                  anio:2015,
                  es_code:'',
                  option:1,
                  jwt:''
                }
              }
            },
            desplegado0: {
              type: Boolean,
              value: false
            },
            desplegado1: {
              type: Boolean,
              value: false
            },
            desplegado2: {
              type: Boolean,
              value: false
            },
            desplegado3: {
              type: Boolean,
              value: false
            }
          };
        }


        ready(){
          super.ready();
          if (this.$)
          this.$ = new Proxy(this.$, {
        get: ($, id) => $[id] || this.shadowRoot.getElementById(id),
        set: ($, id, element) => {
            $[id] = element;
            return true;
          }
        });
        }


        setHidden(response,change){
          if(!response&&!change){
            return false;
          }else{
            return true;
          }
        }

        _getCategoriesError(e,error){
          console.log("Error"+error.request.status);
        }

        _getCategoriesSuccess(e,request){
          //console.log("Request "+request.response);
          this.categories = request.response;
        }

        _getTokenError(e,error){
          console.log("Error"+error.request.status);
        }

        _getTokenSuccess(e,request){
          this.parametros.jwt=request.response.access_token;
          this.$.ajaxResults.body = JSON.stringify(this.parametros);
          console.log(this.parametros);
          this.$.ajaxResults.generateRequest();
        }

        _getResultsError(e,error){
          console.log("Error al traer resultados"+error.request.status);
          alert("Oops, parece que no encontramos nada para ti!");
        }

        _getResultsSuccess(e,request){
            this.response=true;
            console.log("El hijo: "+this.response);
            this.results=request.response.data;
            console.log(request.response.data);
            this.parametros.lat=0;
            this.parametros.lng=0;
            this.parametros.zip=0;
            this.parametros.es_code='',
            this.parametros.option=1;

        }

        buscar(){
          var estado=false;
          var entrada=this.$.entrada.value;
          if(entrada.length==0){
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].code;
                    if(str===this.parametros.es_code){
                      //console.log(str);
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                    }
                }
              }
          }else{
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].description;
                    var regexp=new RegExp(entrada,'i');
                    if(str.search(regexp)!=-1){
                      console.log(str);
                      this.parametros.es_code=this.$.categories.items[i].subcategories[j].code;
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                      estado=true;
                    }
                }
              }
            }
              this.parametros.zip=this.$.zip.value;
              this.parametros.lat=this.shadowRoot.querySelector('google-map-marker').latitude;
              this.parametros.lng=this.shadowRoot.querySelector('google-map-marker').longitude;
              if(this.parametros.zip.length==0){
                this.parametros.option=1;
              }else{
                this.parametros.option=2;
              }
              if(estado==true||this.parametros.es_code.length>0){
                this.$.ajaxToken.generateRequest();
                estado=false;
              }else{
                alert("Oops, no encontramos nada para ti");
              }

          }

          clickDestination(event){
            var latitude = event.target.latitude;
            var longitude = event.target.longitude;
            console.log(latitude);
            console.log(longitude);
          }

          regresar(){
            this.change=false;
          }

          cambiarPassword(){
            this.change=true;
            this.desplegado3=!this.desplegado3;
          }

          toggle0(){
            this.desplegado0=!this.desplegado0;
          }

          toggle1(){
            this.desplegado1=!this.desplegado1;
          }

          toggle2(){
            this.desplegado2=!this.desplegado2;
          }

          toggle3(){
            this.desplegado3=!this.desplegado3;
          }

          toggleSelection0(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              this.mode=e.target.innerHTML;
              //this.parametros.es_code=e.target.id;
              this.desplegado0=!this.desplegado0;

          }

          toggleSelection(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              if(e.target.innerHTML=="Todos"){
                this.title={"title":"Todas las especialidades"};
                console.log(this.title);
              this.rows=[ ["Services", 24],["Accounts", 28],["Loans", 15],["Payments", 3] ];
              this.cols=[{"label": "Especialidad", "type": "string"},{"label": "Proyectos", "type": "number"}]
              }
              if(e.target.innerHTML=="Services"){
                this.title={"title":"Services"};
                console.log(this.title);
              this.rows=[ ["Q1-2020", 24],["Q2-2020", 28],["Q3-2020", 15],["Q4-2020", 3] ];
              this.cols=[{"label": "Q", "type": "string"},{"Proyectos": "Days", "type": "number"}]
              }
              //this.parametros.es_code=e.target.id;
              this.desplegado1=!this.desplegado1;

          }
          toggleSelection2(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              //console.log(e.target.innerHTML);
              this.parametros.es_code=e.target.id;
              this.desplegado2=!this.desplegado2;
          }

          toggleSelection3(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              //console.log(e.target.innerHTML);
              this.parametros.es_code=e.target.id;
              this.desplegado3=!this.desplegado3;
          }

      }

      customElements.define(GraphicsApp.is, GraphicsApp);
    </script>

  </dom-module>
