<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="query-app">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background: url('/resources/BBVA-ACS-blockchain-1024x629.jpg') no-repeat center center fixed;
        background-size:cover;
        box-sizing: border-box;
        /*height: 100vh;*/
        height: 100vh auto;
      }



/*style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
*/

    </style>
    <link rel="import" href="src/categorias-app.html"/>
    <div class="container" >
      <h2>Selecciona una categoría</h2>
      <div class="row">
        <div class="col-md">
          <div class="row ">
            <p>
              <categorias-app categoria="Automóviles" subcategoria='["ITV","Motor:concesionarios, talleres y recambios","Autolavados"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Bares y restaurantes" subcategoria='["Bares y cafeterías","Comida rápida y a domicilio","Bares y discotecas","Restaurantes"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Bancos" subcategoria='["Oficinas","ATMs"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Libros, prensa y revistas" subcategoria='["Libros, discos y papelerías","Prensa y revistas"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Moda" subcategoria='["Joyería y relojería","Moda y complementos:cadena","Moda y complementos:pequeño comercio","Peluquería, maquillaje y complementos","Zapaterías"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Alimentación" subcategoria='["Alimentación:pequeño comercio","Supermercados"]'></categorias-app>
            </p>
          </div>
          <div class="row">
            <p>
              <categorias-app categoria="Salud" subcategoria='["Farmacias","Hospitales y clínicas","Ópticas"]'></categorias-app>
            </p>
          </div>
        </div>
        <div class="col-md">

        </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class QueryApp extends Polymer.Element {
      static get is() { return 'query-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'query-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      incrementar(){
        this.prop2=this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop1);
      }
    }

    window.customElements.define(QueryApp.is, QueryApp);
  </script>
</dom-module>
