<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/update-app/update-app.html">
<link rel="import" href="/src/results-app/results-app.html">

Access-Control-Allow-Origin:*

<dom-module id="capture-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
      .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
      }

      google-map {
    height: 300px;
  }

    }
      </style>

  <div class="container">
    <!--template is="dom-if" if="{{change}}" restamp="true">
      <update-app change="{{change}}" email="{{email}}"></update-app>
    </template>
    <template is="dom-if" if="{{response}}" restamp="true">
          <capture-app results="{{results}}" response={{response}} header={{foundedCategory}}></capture-app>
    </template-->
      <div class="alert alert-info text-center" role="alert">
        <h1>Captura</h1>
        <h2>[[choosenQ]]</h2>
          </div>
          <div>
            <div>
              <input class="form-control form-control-lg" type="text" placeholder="Clave de asignación Jira">
            </div>
            <div class="cuartos">
              <h5>¿A que que Q pertenece el proyecto?</h5>
                <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle2">Seleccionar Q</button>
                  <iron-collapse opened=[[desplegado2]]>
                    <div class="btn-group-vertical">
                        <template is="dom-repeat" id="cuartos" items="{{cuartos}}">
                          <button id="{{especialidad}}" type="button" class="btn btn-info" on-click="toggleSelection">{{item}}</button>
                        </template>
                    </div>
            </div>
            <h5>¿El proyecto es global?</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                No
              </label>
            </div>
          </div>
          <div>
            <h5>El proyecto es ...</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios3" value="option1" checked>
              <label class="form-check-label" for="exampleRadios3">
                Scrum
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios4" value="option2">
              <label class="form-check-label" for="exampleRadios4">
                Waterfall
              </label>
            </div>
          </div>
          <div>
            <h5>Clasificación del proyecto</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios5" value="option1" checked>
              <label class="form-check-label" for="exampleRadios5">
                Nuevo
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios6" value="option2">
              <label class="form-check-label" for="exampleRadios6">
                Ongoing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios7" value="option2">
              <label class="form-check-label" for="exampleRadios7">
                Graduación
              </label>
            </div>
          </div>
          <div>
            <h5>¿La dependencia es para pruebas?</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios8" value="option1" checked>
              <label class="form-check-label" for="exampleRadios8">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios9" value="option2">
              <label class="form-check-label" for="exampleRadios9">
                No
              </label>
            </div>
          </div>
          <div>
            <h5>Aplicación/Aplicaciones afectada</h5>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div>
            <h5>Funcionalidad afectada</h5>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div>
            <h5>¿La funcionalidad es crítica?</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios9" value="option1" checked>
              <label class="form-check-label" for="exampleRadios9">
                Si
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios10" value="option2">
              <label class="form-check-label" for="exampleRadios10">
                No
              </label>
            </div>
          </div>
            <div class="especialidad">
              <h5>¿A que especialidad pertenece el recurso de la historia/dependencia?</h5>
                <button class="btn btn-primary btn-md  dropdown-toggle" on-click="toggle1">Seleccionar especialidad</button>
                  <iron-collapse opened=[[desplegado1]]>
                    <div class="btn-group-vertical">
                        <template is="dom-repeat" id="subcategories" items="{{especialidades}}">
                          <button id="{{especialidad}}" type="button" class="btn btn-info" on-click="toggleSelection2">{{item}}</button>
                        </template>
                    </div>
            </div>
            <div>
              <h5>¿La dependencia o feature está alineada a la estrategia de la especialidad?</h5>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios11" value="option1" checked>
                <label class="form-check-label" for="exampleRadios11">
                  Si
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios12" value="option2">
                <label class="form-check-label" for="exampleRadios12">
                  Medianamente
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios13" value="option2">
                <label class="form-check-label" for="exampleRadios13">
                  En menor medida
                </label>
              </div>
            </div>
            <div>
              <h5>Beneficios esperados al término de la feature o dependencia</h5>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div>
              <h5>Canales afectados</h5>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          <nav class="navbar fixed-bottom navbar-light bg-light">
            <button class="btn btn-danger" on-click="regresar">Regresar</button>
            <button type="button" class="btn btn-success">Aceptar</button>
          </nav>
          </template>

              <iron-ajax id="ajaxCategories"
              auto url="http://localhost:3002/Categories"
              content-type="application/json"
              crossDomain:true
              dataType:'jsonp'
              method= "GET"
              handle-as="json"
              on-response="_getCategoriesSuccess"
              on-error="_getCategoriesError">
            </iron-ajax>

            <iron-ajax id="ajaxToken"
            url="http://localhost:3002/token"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method= "GET"
            handle-as="json"
            on-response="_getTokenSuccess"
            on-error="_getTokenError">
          </iron-ajax>

          <iron-ajax id="ajaxResults"
          url="http://localhost:3002/results"
          content-type="application/json"
          crossDomain=true
          dataType='jsonp'
          method= "POST"
          handle-as="json"
          on-response="_getResultsSuccess"
          on-error="_getResultsError">
        </iron-ajax>


    <script>
      class CaptureApp extends Polymer.Element {
        static get is() { return 'capture-app'; }
        static get properties() {
          return {
            response:{
              type:Boolean,
              value:false,
              notify:true
            },
            results:{
              type:Array,
              notify:true,
              value:function(){
                [];
              }
            },
            logado:{
              type:Boolean,
              notify:true
            },
            change:{
              type:Boolean,
              value:false,
              notify:true
            },
            hidden:{
              type:Boolean,
              notify:true,
              computed:'setHidden(change,response)'
            },
            email:{
              type:String,
              notify:true,
            },
            coordenadas: {
              notify:true,
              type: Object,
              value: function(){
                return {
                  lat: 40.425,
                  lng :-3.715
                        }
                      }
            },
            categories: {
              type: Array,
              value: function() {
                 return [];
                }
            },
            especialidades:{
              type: Array,
              value: function() {
                 return ["Accounts","Services","Payments","Loans"];
                }
            },
            cuartos:{
              type: Array,
              value: function() {
                 return ["Q1-2020","Q2-2020","Q3-2020","Q4-2020"];
                }
            },
            choosenQ:{
              type:String,
            },
            parametros:{
              notify:true,
              type:Object,
              value: function(){
                return {
                  lat: 0,
                  lng :0,
                  zip: '',
                  anio:2015,
                  es_code:'',
                  option:1,
                  jwt:''
                }
              }
            },
            desplegado1: {
              type: Boolean,
              value: false
            },
            desplegado2: {
              type: Boolean,
              value: false
            },
            desplegado3: {
              type: Boolean,
              value: false
            }
          };
        }


        ready(){
          super.ready();
          if (this.$)
          this.$ = new Proxy(this.$, {
        get: ($, id) => $[id] || this.shadowRoot.getElementById(id),
        set: ($, id, element) => {
            $[id] = element;
            return true;
          }
        });
        }


        setHidden(response,change){
          if(!response&&!change){
            return false;
          }else{
            return true;
          }
        }

        _getCategoriesError(e,error){
          console.log("Error"+error.request.status);
        }

        _getCategoriesSuccess(e,request){
          //console.log("Request "+request.response);
          this.categories = request.response;
        }

        _getTokenError(e,error){
          console.log("Error"+error.request.status);
        }

        _getTokenSuccess(e,request){
          this.parametros.jwt=request.response.access_token;
          this.$.ajaxResults.body = JSON.stringify(this.parametros);
          console.log(this.parametros);
          this.$.ajaxResults.generateRequest();
        }

        _getResultsError(e,error){
          console.log("Error al traer resultados"+error.request.status);
          alert("Oops, parece que no encontramos nada para ti!");
        }

        _getResultsSuccess(e,request){
            this.response=true;
            console.log("El hijo: "+this.response);
            this.results=request.response.data;
            console.log(request.response.data);
            this.parametros.lat=0;
            this.parametros.lng=0;
            this.parametros.zip=0;
            this.parametros.es_code='',
            this.parametros.option=1;

        }

        regresar(){
          this.response=false;
        }

        buscar(){
          var estado=false;
          var entrada=this.$.entrada.value;
          if(entrada.length==0){
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].code;
                    if(str===this.parametros.es_code){
                      //console.log(str);
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                    }
                }
              }
          }else{
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].description;
                    var regexp=new RegExp(entrada,'i');
                    if(str.search(regexp)!=-1){
                      console.log(str);
                      this.parametros.es_code=this.$.categories.items[i].subcategories[j].code;
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                      estado=true;
                    }
                }
              }
            }
              this.parametros.zip=this.$.zip.value;
              this.parametros.lat=this.shadowRoot.querySelector('google-map-marker').latitude;
              this.parametros.lng=this.shadowRoot.querySelector('google-map-marker').longitude;
              if(this.parametros.zip.length==0){
                this.parametros.option=1;
              }else{
                this.parametros.option=2;
              }
              if(estado==true||this.parametros.es_code.length>0){
                this.$.ajaxToken.generateRequest();
                estado=false;
              }else{
                alert("Oops, no encontramos nada para ti");
              }

          }

          clickDestination(event){
            var latitude = event.target.latitude;
            var longitude = event.target.longitude;
            console.log(latitude);
            console.log(longitude);
          }

          salir(){
            this.logado=false;
            this.email="";
            this.desplegado3=!this.desplegado3;
          }

          cambiarPassword(){
            this.change=true;
            this.desplegado3=!this.desplegado3;
          }

          toggle1(){
            this.desplegado1=!this.desplegado1;
          }

          toggle2(){
            this.desplegado2=!this.desplegado2;
          }

          toggle3(){
            this.desplegado3=!this.desplegado3;
          }

          toggleSelection(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              this.choosenQ=e.target.innerHTML;
              //this.parametros.es_code=e.target.id;
              this.desplegado2=!this.desplegado2;
          }
          toggleSelection2(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              //this.choosenQ=e.target.innerHTML;
              this.parametros.es_code=e.target.innerHTML;
              this.desplegado1=!this.desplegado1;
          }

      }

      customElements.define(CaptureApp.is, CaptureApp);
    </script>

  </dom-module>
