<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/update-app/update-app.html">
<link rel="import" href="/src/results-app/results-app.html">
<link rel="import" href="/src/capture-app/capture-app.html">
<link rel="import" href="/src/graphics-app/graphics-app.html">

Access-Control-Allow-Origin:*

<dom-module id="discipline-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
      .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
      }

      google-map {
    height: 300px;
  }

    }
      </style>

  <div class="container">
    <template is="dom-if" if="{{change}}" restamp="true">
      <graphics-app change="{{change}}" email="{{email}}"></graphics-app>
    </template>
    <template is="dom-if" if="{{response}}" restamp="true">
          <capture-app results="{{results}}" response={{response}} header={{foundedCategory}}></capture-app>
    </template>
    <template is="dom-if" if="{{!hidden}}" restamp="true">
      <div class="alert alert-info text-center" role="alert">
        <h1>Hola Discipline</h1>
      </div>
      <div class="row">
  <div class="col-sm-6">
    <div class="card align-items-center justify-content-center text-center">
      <img class="card-img-top" style="width: 48.5%" src="src/discipline-app/mostrar.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mostrar estadísticas</h5>
        <p class="card-text">Visualiza las estadísticas del core.</p>
        <button class="btn btn-primary" on-click="graficos">Estadísticas</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card align-items-center justify-content-center text-center">
      <img class="card-img-top" style="width: 60%" src="src/discipline-app/capture.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Capturar proyecto</h5>
        <p class="card-text">Captura o modifica la información asociada a un proyecto.</p>
        <button class="btn btn-primary" on-click="capturar">Capturar</button>
        </div>
    </div>
  </div>
</div>

    </template>

              <iron-ajax id="ajaxCategories"
              auto url="http://localhost:3002/Categories"
              content-type="application/json"
              crossDomain:true
              dataType:'jsonp'
              method= "GET"
              handle-as="json"
              on-response="_getCategoriesSuccess"
              on-error="_getCategoriesError">
            </iron-ajax>

            <iron-ajax id="ajaxToken"
            url="http://localhost:3002/token"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method= "GET"
            handle-as="json"
            on-response="_getTokenSuccess"
            on-error="_getTokenError">
          </iron-ajax>

          <iron-ajax id="ajaxResults"
          url="http://localhost:3002/results"
          content-type="application/json"
          crossDomain=true
          dataType='jsonp'
          method= "POST"
          handle-as="json"
          on-response="_getResultsSuccess"
          on-error="_getResultsError">
        </iron-ajax>
    </template>


    <script>
      class DisciplineApp extends Polymer.Element {
        static get is() { return 'discipline-app'; }
        static get properties() {
          return {
            response:{
              type:Boolean,
              value:false,
              notify:true
            },
            results:{
              type:Array,
              notify:true,
              value:function(){
                [];
              }
            },
            logado:{
              type:Boolean,
              notify:true
            },
            change:{
              type:Boolean,
              value:false,
              notify:true
            },
            hidden:{
              type:Boolean,
              notify:true,
              computed:'setHidden(change,response)'
            },
            email:{
              type:String,
              notify:true,
            },
            coordenadas: {
              notify:true,
              type: Object,
              value: function(){
                return {
                  lat: 40.425,
                  lng :-3.715
                        }
                      }
            },
            categories: {
              type: Array,
              value: function() {
                 return [];
                }
            },
            parametros:{
              notify:true,
              type:Object,
              value: function(){
                return {
                  lat: 0,
                  lng :0,
                  zip: '',
                  anio:2015,
                  es_code:'',
                  option:1,
                  jwt:''
                }
              }
            },
            desplegado1: {
              type: Boolean,
              value: false
            },
            desplegado2: {
              type: Boolean,
              value: false
            },
            desplegado3: {
              type: Boolean,
              value: false
            }
          };
        }


        ready(){
          super.ready();
          if (this.$)
          this.$ = new Proxy(this.$, {
        get: ($, id) => $[id] || this.shadowRoot.getElementById(id),
        set: ($, id, element) => {
            $[id] = element;
            return true;
          }
        });
        }


        setHidden(response,change){
          if(!response&&!change){
            return false;
          }else{
            return true;
          }
        }

        _getCategoriesError(e,error){
          console.log("Error"+error.request.status);
        }

        _getCategoriesSuccess(e,request){
          //console.log("Request "+request.response);
          this.categories = request.response;
        }

        _getTokenError(e,error){
          console.log("Error"+error.request.status);
        }

        _getTokenSuccess(e,request){
          this.parametros.jwt=request.response.access_token;
          this.$.ajaxResults.body = JSON.stringify(this.parametros);
          console.log(this.parametros);
          this.$.ajaxResults.generateRequest();
        }

        _getResultsError(e,error){
          console.log("Error al traer resultados"+error.request.status);
          alert("Oops, parece que no encontramos nada para ti!");
        }

        _getResultsSuccess(e,request){
            this.response=true;
            console.log("El hijo: "+this.response);
            this.results=request.response.data;
            console.log(request.response.data);
            this.parametros.lat=0;
            this.parametros.lng=0;
            this.parametros.zip=0;
            this.parametros.es_code='',
            this.parametros.option=1;

        }

        capturar(){
          this.response=true;
        }

        graficos(){
          this.change=true;
        }

        buscar(){
          var estado=false;
          var entrada=this.$.entrada.value;
          if(entrada.length==0){
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].code;
                    if(str===this.parametros.es_code){
                      //console.log(str);
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                    }
                }
              }
          }else{
            for(var i=0;i<this.$.categories.items.length;i++){
                for(var j=0;j<this.$.categories.items[i].subcategories.length;j++){
                    var str=this.$.categories.items[i].subcategories[j].description;
                    var regexp=new RegExp(entrada,'i');
                    if(str.search(regexp)!=-1){
                      console.log(str);
                      this.parametros.es_code=this.$.categories.items[i].subcategories[j].code;
                      this.foundedCategory=this.$.categories.items[i].subcategories[j].description;
                      estado=true;
                    }
                }
              }
            }
              this.parametros.zip=this.$.zip.value;
              this.parametros.lat=this.shadowRoot.querySelector('google-map-marker').latitude;
              this.parametros.lng=this.shadowRoot.querySelector('google-map-marker').longitude;
              if(this.parametros.zip.length==0){
                this.parametros.option=1;
              }else{
                this.parametros.option=2;
              }
              if(estado==true||this.parametros.es_code.length>0){
                this.$.ajaxToken.generateRequest();
                estado=false;
              }else{
                alert("Oops, no encontramos nada para ti");
              }

          }

          clickDestination(event){
            var latitude = event.target.latitude;
            var longitude = event.target.longitude;
            console.log(latitude);
            console.log(longitude);
          }

          salir(){
            this.logado=false;
            this.email="";
            this.desplegado3=!this.desplegado3;
          }

          cambiarPassword(){
            this.change=true;
            this.desplegado3=!this.desplegado3;
          }

          toggle1(){
            this.desplegado1=!this.desplegado1;
          }

          toggle2(){
            this.desplegado2=!this.desplegado2;
          }

          toggle3(){
            this.desplegado3=!this.desplegado3;
          }

          toggleSelection(e){
              //Para manejar categoria por id;
              //console.log(e.target.id);
              //Para manejar categoria por descripcion
              //console.log(e.target.innerHTML);
              this.parametros.es_code=e.target.id;
              this.desplegado1=!this.desplegado1;
          }

      }

      customElements.define(DisciplineApp.is, DisciplineApp);
    </script>

  </dom-module>
